/* Fonts */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

/* Colors */
:root {
  --primary-color: #FF0000; /* changed to red */
  --secondary-color: #FFFFFF;
}

body {
  background-color: #0D0D0D;
  color: var(--secondary-color);
}

header, footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

a:hover {
  color: #555555;
}

button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: #CC0000; /* changed to red */
}

/* Layout */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  display: flex;  
  align-items: center;
  margin-right: 10px;
  
}

.logo img {
  height: 50px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 20px;
}

.hero {
  padding: 100px 0;
  text-align: center;
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input[type="text"] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.how-it-works {
  padding: 80px 0;
}

.how-it-works h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
}

.steps {
  display: flex;
  justify-content: space-between;
}

.step {
  width: 30%;
  text-align: center;
}

.step img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.step h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.step p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 40px;
}


footer {
  background-color: #FF0000;
  padding: 20px;
  bottom: 0;
  text-align: center;
  font-size: 16px;
}

footer p {
  margin: 0;
}

.user-guide {
  margin: 20px;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #000000;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.user-guide h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
}

.user-guide p {
  margin-top: 0;
  margin-bottom: 10px;
}

.user-guide ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 20px;
}

.user-guide li {
  margin-bottom: 5px;
}

.user-guide a {
  color: #f7fbff;
  text-decoration: none;
}

.user-guide a:hover {
  text-decoration: underline;
}

footer {
  background-color: #FF0000;
  padding: 20px;
  text-align: center;
  bottom: 0;
  font-size: 16px;
}

footer p {
  margin: 0;
  bottom: 0;
}

select[name="summarization_percentage"] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  }

  