<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Online tool to summarize transcript of an eligible YouTube video. The video should have well formatted closed-captions to perform summarization by various techniques.">
  <meta name="robots" content="index,follow" />
  <meta property='og:title' content="YouTube Transcript Summarizer | Web Summarizer" />
  <meta property='og:image' content='y1.png' />
  <title>YouTube Transcript Summarizer | Web Summarizer</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300;400&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/static/web.css">
  <link src="y1.png" rel="icon">
</head>

<body>
  {% block content %}{% endblock %}
</body>

</html>